@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;600&display=swap');


*{
    padding: 0;
    margin: 0;
}

:root{
    --cor1: #393939;
    --cor2: #000000;
    --cor3: #ff0000;
    --cor4: #ffffff;
    --cor5: #aaaaaa;
    
    --buton1: #ffffff;
    --buton2: #0000008e;
    --buton: #000000;
    

    --font1:  'Bebas Neue', cursive;
    --font2: 'Open Sans', sans-serif;
}

body{
    font-size: var(2);
    background: var(--cor1);
    font-family: var(--font2);
}
    /*--- cabesalho --*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cor2);
    padding-top: 0.3cm;
    padding-bottom: 0.3cm;
}

.bloco-checkbox{
    display: none;
    width: 1.5cm;
    height: 1cm;
}

header .bloco-checkbox input{
    display: none;
}

header .bloco-checkbox div{
    position: absolute;
    color: var(--cor4);
    font-size: 0.8cm;
    margin-left: 0.5cm;
}

.checkbox-wrapper aside{
    display: none;
    width: 4.4cm;
    background-color: var(--cor2);
}

.a-inputt{
    display: block;
    color: var(--cor5);
    text-decoration: none;
    padding: 0.3cm;
    font-family: var(--font2);
    font-size: 0.5cm;
    font-weight: bolder;
}

.a-inputt:hover,
.a-inputt.activo{
    color: var(--cor4);
    background-color: var(--cor1);
}

input:checked + .checkbox-wrapper aside{
    display: block;
}



header h1{
    color: var(--cor3);
    font-family: var(--font1);
    margin-left: 1.4cm;
    font-size: 1.2cm;
}

header nav a{
    color: var(--cor5);
    text-decoration: none;
    margin: 0.5cm;
    font-family: var(--font2);
    font-size: 0.5cm;
    font-weight: bolder;
}

header nav a:hover,
header nav a.activo{
    color: var(--cor4);
}

/*---  conteiner-principal  ---*/
.conteiner-principal{
    display: flex;
    background: blueviolet url('../filmes/arrow-1.jpg') top center no-repeat;
    background-size: cover;
    height: 65vh;
    align-items: center;
    padding-left: 1cm;
}

.conteiner-principal div h3{
    font-size: 1.2cm;
    font-weight: bolder;
    color: var(--cor4);
    margin-bottom: 0.5cm;
}

.conteiner-principal div p{
    max-width: 50%;
    color: var(--cor5);
    margin-bottom: 0.3cm; 
}

.conteiner-principal div button{
    width: 5.2cm;
    height: 1.2cm;
    margin-right: 0.3cm;
    font-size: 0.5cm;
    font-weight: bold;
    border-radius: 10px;
    border: 0;
    background-color: var(--buton2);
    color: var(--buton1);
}

.conteiner-principal div button:hover{
    color: var(--buton);
    background-color: var(--buton1);
}

.conteiner-principal div button i{
    margin-right: 0.2cm;
}


/*--- Contenedor Pricipal_e_flachas----*/

.peliculas-recomendadas{
    margin-bottom: 70px;
}

.peliculas-recomendadas .contenedor-principal{
    display: flex;
    align-items: center;
    position: relative;
}

.peliculas-recomendadas .contenedor-principal .flecha-izquierda,
.peliculas-recomendadas .contenedor-principal .flecha-derecha{
    position: absolute;
    border: none;
    background: rgba(0,0,0,0.3);
    font-size: 40px;
    height: 50%;
    top: calc(50% - 25%);
    line-height: 40px;
    width: 50px;
    color: #fff;
    cursor: pointer;
    z-index: 500;
    transition: .2s ease all;
}

.peliculas-recomendadas .contenedor-principal .flecha-izquierda:hover,
.peliculas-recomendadas .contenedor-principal .flecha-derecha:hover{
    background: rgba(0,0,0, .9);
}

.peliculas-recomendadas .contenedor-principal .flecha-izquierda{
    left: 0;
}

.peliculas-recomendadas .contenedor-principal .flecha-derecha{
    right: 0;
}

/*----  Carousel  ----*/

.peliculas-recomendadas .contenedor-carousel{
    width: 100%;
    padding: 20px 0;
    overflow: hidden;
    scroll-behavior: smooth;
}

.peliculas-recomendadas .contenedor-carousel .carousel{
    display: flex;
    flex-wrap: nowrap;
}

.peliculas-recomendadas .contenedor-carousel .carousel .pelicula{
    min-width: 20%;
    transition: .3s ease all;
    box-shadow: 5px 5px 10px rgb(0,0,0, .3);
    margin-right: 0.2cm;
}

.peliculas-recomendadas .contenedor-carousel .carousel .pelicula.hover{
     transform: scale(1.2);
     transform-origin: center;
}

.peliculas-recomendadas .contenedor-carousel .carousel .pelicula img{
    width: 100%;
    vertical-align: top;
}


@media screen and (max-width: 800px){
    header nav a{
        display: none;
    }

    .conteiner-principal div p{
        max-width: 100%;
    }

    .bloco-checkbox{
        display: block;
    }

    .peliculas-recomendadas .contenedor-carousel .carousel .pelicula{
        min-width: 30%;
    }
}
